.GridTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  justify-self: center;
  height: 48px;
  width: 48px;
  background: rgb(54, 57, 57);
  border: 0.5px solid rgb(255, 209, 122);
  cursor: pointer;

  &:hover {
    background-color: #ff8af5;
  }
}